/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.my-plugin-ribbon-class {
}

.glimt-notice-message {
	display: flex;
	align-items: center;
	gap: 10px;
}

.glimt-error {
	background-color: rgb(189, 72, 72);
	color: rgb(37, 26, 21);
}

.glimt-success {
	background-color: #f1d820;
	color: #613f10;
}

.glimt-warn {
	background-color: #d28d44;
	color: #52340b;
}

.force-sync-glimts-button {
	background-color: rgb(189, 72, 72) !important;
	color: rgba(255, 255, 255, 0.9) !important;
}

.upgrade-button {
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: rgba(0, 0, 0, 0.9) !important;
	color: rgba(255, 255, 255, 0.9) !important;
}

.connect-button {
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: rgba(0, 0, 0, 0.9) !important;
	color: rgba(255, 255, 255, 0.9) !important;
}

.connect-button .indicator {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #00ff00;
}

.connect-button .indicator.disconnected {
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #ff0000;
}
